<table class="table">
  <thead>
    <tr>
      <th>Performance Name</th>
      <th>Act</th>
      <th>Venue</th>
      <th>Performance Date</th>
      <th>Approver</th>
    </tr>
  </thead>
  <tbody>
     <%= render(@approvals) || "<tr><td colspan='6'>No data to list</td></tr>".html_safe %>
  </tbody>
</table>
