  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Act</th>
        <th>Venue</th>
        <th>Performance Date</th>
        <th>Status</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
       <%= render(@contracts) || "<tr><td colspan='6'>No data to list</td></tr>".html_safe %>
    </tbody>
  </table>
