<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>E-mail</th>
      <th>Role</th>
      <th>Approved</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "users/user", collection: (collection) %>
  </tbody>
</table>
