<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Phone</th>
      <th>E-Mail</th>
      <th>Website</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%= render(@venues) || "<tr><td colspan='6'>No data to list</td></tr>".html_safe %>
  </tbody>
</table>
