  <div class="panel-heading">
    <strong><%= title %></strong>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Act</th>
        <th>Venue</th>
        <th>Date</th>
        <th>Contract</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "performances/performance", collection: (collection) %>
    </tbody>
  </table>
