<br />
<div class="panel-heading">
  <strong>Upcoming Shows</strong>
</div>
<div data-performance-list="true" />
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Act</th>
      <th>Venue</th>
      <th>Date</th>
      <th>Contract</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody id="upcoming_perf">
  </tbody>
</table>
<br />
<div class="panel-heading">
  <strong>Past Shows</strong>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Act</th>
      <th>Venue</th>
      <th>Date</th>
      <th>Contract</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody id="past_perf">
  </tbody>
</table>
