<br />
<div class="panel-heading">
  <strong>Upcoming Shows</strong>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Act</th>
      <th>Venue</th>
      <th>Date</th>
      <th>Contract</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody id="upcoming_performances">
    <script type="text/javascript">
    $(document).ready(function(){
      $.get("/performances/list?time=upcoming", function(data) {
        var performances = data.performances
        $.each(performances, function(index, performance) {
          $('tbody#upcoming_performances').append (`
            <tr>
              <td class="col-md-2">${performance.name}</td>
              <td><a href="/acts/${performance.act.id}/">${performance.act.name} <i class="fa fa-arrow-circle-right"></i></a>
              <td><a href="/venues/${performance.venue.id}/">${performance.venue.name} <i class="fa fa-arrow-circle-right"></i></a>
              <td> ${performance.perf_date} | ${performance.perf_time}</td>
              <td>${performance.contract !== null ? `<a href="/contracts/${performance.contract.id}/">${performance.contract.status}  <i class="fa fa-arrow-circle-right"></i></a>` : ""}
              </td>
              <td>Links Here</td>
            </tr>
          `);
        });
      });
    });
    </script>
  </tbody>
</table>
<br />
<div class="panel-heading">
  <strong>Past Shows</strong>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Act</th>
      <th>Venue</th>
      <th>Date</th>
      <th>Contract</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody id="past_performances">
    <script type="text/javascript">
    $(document).ready(function(){
      $.get("/performances/list?time=past", function(data) {
        var performances = data.performances
        $.each(performances, function(index, performance) {
          $('tbody#past_performances').append (`
            <tr>
              <td class="col-md-2">${performance.name}</td>
              <td><a href="/acts/${performance.act.id}/">${performance.act.name} <i class="fa fa-arrow-circle-right"></i></a>
              <td><a href="/venues/${performance.venue.id}/">${performance.venue.name} <i class="fa fa-arrow-circle-right"></i></a>
              <td> ${performance.perf_date} | ${performance.perf_time}</td>
              <td>${performance.contract !== null ? `<a href="/contracts/${performance.contract.id}/">${performance.contract.status} <i class="fa fa-arrow-circle-right"></i></a>` : ""}
              </td>
              <td>Links Here</td>
            </tr>
          `);
        });
      });
    });
    </script>
  </tbody>
</table>
