<%= render partial: "edit_links", locals: {resource: @performance, text: true, displaytype: "page"} %>
<div data-performance-id="<%= @performance.id %>" />
<h1 id='perf_name'></h1>
<p>
  <% if @performance.try(:contract) %>
  <%= link_to "#{icon('file-text-o')} View Contract".html_safe, contract_path(@performance.contract) %>
  <% else %>
  <% if policy(:contract).new? %>
  <%= link_to "#{icon('file-text-o')} Create Contract".html_safe, new_contract_path(:performance_id => @performance.id) %>
  <% end %>
  <% end %>
</p>
<p id="date_time"><strong>Date: </strong><span id="date"></span>| <strong>Time: </strong><span id="time"></span></p>
<p id="act"><strong>Act: </strong></p>
<p id="venue"><strong>Venue: </strong></p>
<p id="description"><strong>Description: </strong><br /></p>
<p id="tickets"><strong>Ticketing: </strong></p>
