<%= render partial: "edit_links", locals: {resource: @performance, text: true, displaytype: "page"} %>
<div data-id="<%= @performance.id %>" />

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  // debugger;
  var perf_id = $('div[data-id]').attr("data-id");
  $.get(`/performances/${perf_id}/details`, function(data) {
    var perf = data.performance;
    $('#perf_name').append(perf.name);
    $('#act').append(`<a href="/acts/${perf.act.id}">${perf.act.name}</a>`);
    $('#venue').append(`<a href="/venues/${perf.venue.id}">${perf.venue.name}</a>`);
    $('#description').append(perf.description);
    $('#tickets').append(`<a href=${perf.tkts_url}">${perf.tkts_url}</a>`);
    $('#date').append(perf.perf_date);
    $('#time').append(perf.perf_time);
  });
});
</script>
<h1 id='perf_name'></h1>
<p>
  <% if @performance.try(:contract) %>
  <%= link_to "#{icon('file-text-o')} View Contract".html_safe, contract_path(@performance.contract) %>
  <% else %>
  <% if policy(:contract).new? %>
  <%= link_to "#{icon('file-text-o')} Create Contract".html_safe, new_contract_path(:performance_id => @performance.id) %>
  <% end %>
  <% end %>
</p>
<p id="date_time"><strong>Date: </strong><span id="date"></span>| <strong>Time: </strong><span id="time"></span></p>
<p id="act"><strong>Act: </strong></p>
<p id="venue"><strong>Venue: </strong></p>
<p id="description"><strong>Description: </strong><br /></p>
<p id="tickets"><strong>Ticketing: </strong></p>
