 <table class="table">
   <thead>
     <tr>
       <th>Name</th>
       <th>Size</th>
       <th>Location</th>
       <th>Website</th>
       <th>&nbsp;</th>
     </tr>
   </thead>
   <tbody>
     <%= render(@acts) || "<tr><td colspan='5'>No data to list</td></tr>".html_safe %>
     </tbody>
   </table>
